table {
    background-image: url(../img/Fondo-Informal.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: rgb(241, 241, 241);
    text-align: left;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.02em;
    padding-right: 20px;
}


.img-perfil {
    border-radius: 10px;
    padding: 15px 10px 5px 20px 
}
